<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Studio Sidekicks PHP Testing task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="ThreatMatch Web Application">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Syncopate:700" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <base href="{%= o.htmlWebpackPlugin.options.baseHref %}">
  </head>
  <body ng-app="app" ng-strict-di ng-cloak>

    <app>
      Loading...
    </app>
  </body>
</html>