<div class="addVideo">
  <h2 class="headline headline--3">Add Video</h2>

  <md-progress-circular 
    ng-show="video.loading"
    class="md-hue-2" 
    md-diameter="30px"
    md-mode="indeterminate">
  </md-progress-circular>

  <form 
    class="form card md-padding"
    name="videoForm" 
    ng-submit="video.save()">
    <md-input-container class="md-block">
      <label>Title</label>
      <input 
        type="text" 
        ng-model="video.data.title" 
        required 
        name="title">
      <div ng-messages="videoForm.title.$error" role="alert">
        <div ng-message-exp="['required']">
          This field is required.
        </div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Description</label>
      <textarea 
        ng-model="video.data.description" 
        required 
        name="description">
      </textarea>
      <div ng-messages="videoForm.description.$error" role="alert">
        <div ng-message-exp="['required']">
          This field is required.
        </div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Video URL</label>
      <input 
        type="text" 
        ng-model="video.data.url" 
        placeholder="https://"
        required 
        name="url">
      <div ng-messages="videoForm.url.$error" role="alert">
        <div ng-message-exp="['required']">
          This field is required.
        </div>
      </div>
    </md-input-container>

    <md-button 
      class="md-raised md-primary"
      type="submit">
      Save
    </md-button>
  </form>
</div>