<div class="container home">
  <h1 class="home__headline headline headline--2">Hello!</h1>

  <add-video initialised-list="$ctrl.initialisedList"></add-video>
  <videos ng-if="$ctrl.initialisedList"></videos>
</div>