<h2 class="headline headline--3">Videos</h2>

<md-progress-circular 
  ng-hide="$ctrl.loading === false"
  class="md-hue-2" 
  md-diameter="40px"
  md-mode="indeterminate">
</md-progress-circular>

<md-card md-theme-watch ng-if="!$ctrl.loading" ng-repeat="video in $ctrl.videos">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ video.title }}</span>
      <span class="md-subhead" ng-if="video.description">{{ video.description }}</span>
    </md-card-title-text>

    <md-card-title-media ng-if="video.image">
      <div class="md-media-lg card-media" style="background-image: url('{{ video.image }}');"></div>
    </md-card-title-media>
  </md-card-title>

  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="$ctrl.watch(video.url)">Watch</md-button>
    <md-button ng-click="$ctrl.delete(video.id, $index)">Delete</md-button>
  </md-card-actions>
</md-card>