/*==========  GLOBAL STYLES  ==========*/

html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

html,
body,
button {
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html,
body {
    background-color: $colorLightGrey;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    font-weight: 300;
    color: #222;
}

.signedIn {
    background-color: transparent;
}

ul, 
li {
    padding: 0;
    margin: 0;
}

a {
    color: $colorMain;
    text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.root {
    width: 100%;
}

.md-button {
    min-width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    margin-top: 40px;
    height: calc(100vh - 40px);
    overflow-y: scroll;
}

hr {
    height: 2px;
    margin: 1.5em 0;
    border: 0;
    background-color: #ededed;
}

.morris-hover {
    position: absolute;
    z-index: 70;

    padding: 15px;
    font-size: 80%;
    background-color: rgba(#fff, 0.95);
}

.mce-tinymce {
    margin-bottom: 1em !important;
}

[ui-view="body"] {
    padding: 30px 0;
    background-color: #fff;
    @extend %clearfix;
}

[ui-view="main"] {
    @extend %clearfix;
    padding: 2em 0;
}

[role="tabpanel"],
[role="tab"],
[role="tab"] .md-ripple-container {
    transition: none !important;
}

/* start 'enter' transition on main view */
[ui-view].ng-enter {
    /* transition on enter for .5s */
    transition: .5s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition on main view */
[ui-view].ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}

[ui-view].ng-leave {
    display: none;
}

.hide-headline {
    [class*="headline"] {
        display: none;
    }
}

md-dialog.md-default-theme, 
md-dialog {
    background-color: #F4F4F4;
}

.hide-md-err-spacer {
    .md-errors-spacer {
        display: none;
    }
}

.color-main {color: $colorMain;}
.color-secondary {color: $colorSecondary;}
.color-green {color: $colorGreen;}
.color-red {color: $colorRed;}

button:focus,
[role="button"]:focus {
    outline: 0;
}

.username-with-organisation-name {
    margin: 0;
    line-height: 1;
}