/**
*
* Headlines
*
**/

.headline {
  margin: 0 0 $textBottomSpace 0;
  line-height: 1.3;

  @media (min-width: 568px) {
    line-height: 1.2;
  }

  &--1 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  &--2,
  &--3,
  &--4,
  &--5 {
    font-weight: 500;
  }

  &--2 {
    font-size: 1.9rem;

    @media screen and (min-width: 568px) and (max-width: 768px) {
      font-size: 1.75rem;
    }

    @media screen and (min-width: 200px) and (max-width: 567px) {
      font-size: 1.6rem;
    }
  }

  &--3 {
    font-size: 1.55rem;

    @media screen and (min-width: 568px) and (max-width: 768px) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 200px) and (max-width: 567px) {
      font-size: 1.35rem;
    }
  }

  &--4 {
    font-size: 1.32rem;
  }

  &--5 {
    font-size: 1.2rem;
  }

  &--6 {
    font-size: 1rem;
  }

  &--7 {
    font-size: 2.65rem;

    @media screen and (min-width: 568px) and (max-width: 768px) {
      font-size: 2.5rem;
    }

    @media screen and (min-width: 200px) and (max-width: 567px) {
      font-size: 2.35rem;
    }
  }

  &--8 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
  }

  small {
    font-size: 65%;
    font-weight: 300;
  }
}