//==========  VARIABLES  ==========

// Colors
$colorMain: #4350a2;
$colorSecondary: #5a66b1;
$colorTertiary: #6f7bc6;
$colorGreen: #5eb500;
$colorDarkGreen: #55a400;
$colorRed: #d70000;
$colorBlue: #448aff;
$colorLightBlue: #f8faff;
$colorYellow: #ffb429;
$colorLightYellow: #fffed0;
$colorDarkYellow: #e39600;



// Colors
$colorMain: #222;
$colorMainLight: #999;
$colorStrongBlue: #0062ff;
$colorStrongBlueHover: #3a86ff;
$colorWhite: #fff;
$colorLightGrey: #f4f4f4;
$colorLighterGrey: #f8f8f8;
$colorDarkGrey: #B1B1B1;
$colorDarkenGrey: #DBDBDB;

$colorGreen: #3AAA35;

$colorOrange: #E94E1B;

// Structure Colors
$colorDarkBlue: #273042;
$colorDarkBlueFade: #606772;
$colorMediumBlue: #375692;
$colorHeavyBlue: #161c27;
$colorWashedBlue: #545b6a;
$colorMainLightGrey: #e0e1e2;
$colorMenuIcon: #4d6899;

// Action Colours
$colorPrimaryAction: $colorMediumBlue;
$colorPrimaryActionHover: $colorStrongBlueHover;
$colorDisabledAction: $colorStrongBlue;

// Rating Colours
$colorVeryLow: #0095ff;
$colorVeryLowHover: #3baeff;
$colorTextVeryLow: #fff;

// Status Colours
$statusTag: #82c3d2;
$flagged: #c1efd5;
$flaggedBg: #ecfbf2;
$unread: #c1d3ef;
$unreadBg: #ecf4fb;

$colorLow:#ffc800;
$colorLowHover:#ffda25;
$colorTextLow: #fff;

$colorMedium: #ff8d00;
$colorMediumHover: #ffa433;
$colorTextMedium: #fff;

$colorHigh: #ff4700;
$colorHighHover: #ff7039;
$colorTextHigh: #fff;

$colorVeryHigh: #ce1616;
$colorVeryHighHover: #ff4040;
$colorTextVeryHigh: #fff;

// News
$colorNewsOrganisation: #3bae80;
$colorNewsOrganisationLight: #e1ede8;
$colorNewsGlobal: #52bce8;
$colorNewsGlobalLight: #e3eef3;
$colorNewsSector: #885bd2;
$colorNewsSectorLight: #e9e4f1;

// Breakpoints
$breakpointMobile: 768px;
$breakpointTablet: 1024px;
$breakpointHDready: 1366px;
$breakpointFullHD: 1920px;

// Animations
$anim_duration1: 600ms;

// Sizes
$menuWidth: 300px;
$menuWidthReduced: 100px;
$menuWidthReducedMobile: 0px;
$headerHeight: 60px;
$mainPadding: 30;
$largePadding: 60;
$textBottomSpace: 20px;
$sidebarWidth: 350;

//notifications
$notify_warning: #ffbb03;
$notify_success: #6be839;
$notify_info: $colorVeryLow;
$notify_error: #e73632;


//==========  MIXINS  ==========

@mixin mediaquery($query){

    /////////////////////////////////////
    // NOTE:
    // To prevent overlapping closed ranges
    // all 'min' values should be 'breakepoint + 1' (odd)
    // and all 'max' values should be at 'breakepoint' (even).
    // Examples of correct ranges: 1025-1920, 1025-1366, 769-1366 (where 'breakepoints' are 768, 1024, 1366, 1920)
    // Incorrect ranges: 1024 - 1920, 1024-1919, 1025-1919

    ////////////////////// Closed ranges

    // 0 - 767 (exception from the rule above)
	@if $query == mobile {
		@media only screen and(max-width: #{$breakpointMobile - 1px}) { @content; }
	}

	// 768 - 1024
	@else if $query == tablet {
		@media only screen and(min-width: #{$breakpointMobile}) and(max-width: #{$breakpointTablet}) { @content; }
	}

    // 1025 - 1366
    @else if $query == hdready {
        @media only screen and(min-width: #{$breakpointTablet + 1px}) and(max-width: #{$breakpointHDready}) { @content; }
	}

    // 1367 - 1920
    @else if $query == fullhd {
        @media only screen and(min-width: #{$breakpointHDready + 1px}) and(max-width: #{$breakpointFullHD}) { @content; }
	}


    ////////////////////// Open ranges

    // 768 - *
	@else if $query == gt_mobile {
		@media only screen and(min-width: #{$breakpointMobile}) { @content; }
	}

    // 1025 - *
	@else if $query == gt_tablet {
		@media only screen and(min-width: #{$breakpointTablet + 1px}) { @content; }
	}

    // 1367 - *
	@else if $query == gt_hdready {
		@media only screen and(min-width: #{$breakpointHDready + 1px}) { @content; }
	}

    // 1921 - *
    @else if $query == cinema {
        @media only screen and(min-width: #{$breakpointFullHD + 1px}) { @content; }
    }

    ////////////////////// Other

    // Retina
    @else if $query == retina {
		@media only screen and (-moz-min-device-pixel-ratio: 1.5),
		       only screen and (-o-min-device-pixel-ratio: 3/2),
		       only screen and (-webkit-min-device-pixel-ratio: 1.5),
		       only screen and (min-device-pixel-ratio: 1.5)
		       { @content; }
	}
}


// Inline block with vertical middle alignment
%verticalMiddleInlineBlock {
    display: inline-block;
    vertical-align: middle;
}

// active state for items (triangle on the right side of some element)
%active {
    position: relative;

    &:before {
        position: absolute;
        top: 10px;
        right: -20px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ededed;
        border-right: 0 solid #ededed;
        border-bottom: 15px solid transparent;
        content: " ";
    }

    &:after {
        position: absolute;
        top: 11px;
        right: -19px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #ededed;
        border-right: 0 solid #ededed;
        border-bottom: 14px solid transparent;
        content: " ";
    }
}

// Clearfix
.clear,
%clearfix {
    &::before,
    &::after {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }
}

// Clearfix
@mixin clearfix() {
    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both
    }
}

@mixin positionCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin positionCenterY() {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

@mixin navShadow() {
    box-shadow: 3px 0 10px rgba(0,0,0,0.2);
}

@mixin baseShadow() {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@mixin superShadow() {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}