//==========  VARIABLES  ==========

// Colors
$colorMain: #222;
$colorMainLight: #999;
$colorStrongBlue: #0062ff;
$colorStrongBlueHover: #3a86ff;
$colorWhite: #fff;
$colorLightGrey: #f4f4f4;
$colorLighterGrey: #f8f8f8;
$colorDarkGrey: #B1B1B1;

$colorGreen: #3AAA35;

$colorOrange: #E94E1B;

$colorTopBar: #BB2E28;
$colorTopBarLinkHover: #f1bfbd;

// Structure Colors
$colorDarkBlue: #273042;
$colorDarkBlueFade: #606772;
$colorMediumBlue: #375692;
$colorHeavyBlue: #161c27;
$colorWashedBlue: #545b6a;
$colorMainLightGrey: #e0e1e2;
$colorMenuIcon: #4d6899;

// Action Colours
$colorPrimaryAction: $colorMediumBlue;
$colorPrimaryActionHover: $colorStrongBlueHover;
$colorDisabledAction: $colorStrongBlue;

// Rating Colours
$colorVeryLow: #0095ff;
$colorVeryLowHover: #3baeff;
$colorTextVeryLow: #fff;

// Status Colours
$statusTag: #82c3d2;
$flagged: #c1efd5;
$flaggedBg: #ecfbf2;
$unread: #c1d3ef;
$unreadBg: #ecf4fb;

$colorLow:#ffc800;
$colorLowHover:#ffda25;
$colorTextLow: #fff;

$colorMedium: #ff8d00;
$colorMediumHover: #ffa433;
$colorTextMedium: #fff;

$colorHigh: #ff4700;
$colorHighHover: #ff7039;
$colorTextHigh: #fff;

$colorVeryHigh: #ce1616;
$colorVeryHighHover: #ff4040;
$colorTextVeryHigh: #fff;

// news
$colorNewsOrganisation: #3bae80;
$colorNewsOrganisationLight: #e1ede8;
$colorNewsGlobal: #52bce8;
$colorNewsGlobalLight: #e3eef3;
$colorNewsSector: #885bd2;
$colorNewsSectorLight: #e9e4f1;

// Breakepoints
$breakpointMobile: 768px;
$breakpointTablet: 1024px;
$breakpointHDready: 1366px;
$breakpointFullHD: 1920px;

// Animations
$anim_duration1: 600ms;

// Sizes
$menuWidth: 300px;
$menuWidthReduced: 100px;
$menuWidthReducedMobile: 0px;
$headerHeight: 60px;
$mainPadding: 30;
$largePadding: 60;
$textBottomSpace: 20px;
$sidebarWidth: 350;

//notifications
$notify_warning: #ffbb03;
$notify_success: #6be839;
$notify_info: #BB2E28;
$notify_error: #e73632;



$gallery_items_in_a_row: (1,2,3,4);